# Ambiente virtual
venv/
.venv/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Sistema
.DS_Store
Thumbs.db

# Dados brutos e intermediários
data/raw/*
data/bronze/*
data/silver/*

# Manter estrutura das pastas
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep

# Gold (mantemos versionado)
# data/gold/*

# Outputs
outputs/logs/*
outputs/quality_reports/*.xlsx

# Manter estrutura de logs
!outputs/logs/.gitkeep

# Arquivos grandes / temporários
*.parquet
*.log